<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:utils="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--  获取数据库连接信息  -->
    <utils:properties id="db" location="classpath:db.properties" />

    <!--  配置数据源  -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="#{db.driver}"/>
        <property name="url" value="#{db.url}"/>
        <property name="username" value="#{db.user}"/>
        <property name="password" value="#{db.password}"/>
    </bean>

    <!--  配置会话工厂  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--    配置数据源    -->
        <property name="dataSource" ref="dataSource" />
        <!--    获取mybatis配置信息    -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!--    配置映射文件存放位置    -->
        <property name="mapperLocations" value="classpath:mapper/*.xml" />
        <!--    配置mybaits插件    -->
        <property name="plugins">
            <array>
                <!-- 分页插件配置 -->
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <!--使用下面的方式配置参数，一行配置一个 -->
                        <props>
                            <!-- 告知使用的数据库 -->
                            <prop key="helperDialect">mysql</prop>
                            <!-- 分页合理化 -->
                            <prop key="reasonable">true</prop>
                            <prop key="pageSizeZero">true </prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>
    </bean>

    <!--  扫描接口映射文件  -->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.cykj.mapper" />
    </bean>

    <!--  开启事务注解驱动  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />
</beans>