<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.MedicalProjectSummaryMapper">
  <resultMap id="BaseResultMap" type="com.cykj.model.pojo.MedicalProjectSummary">
    <!--@mbg.generated-->
    <!--@Table medical_project_summary-->
    <id column="ps_id" jdbcType="INTEGER" property="psId" />
    <result column="ps_order_id" jdbcType="INTEGER" property="psOrderId" />
    <result column="ps_project_id" jdbcType="INTEGER" property="psProjectId" />
    <result column="ps_summary" jdbcType="LONGVARCHAR" property="psSummary" />
    <result column="ps_staff_id" jdbcType="INTEGER" property="psStaffId" />
    <result column="ps_time" jdbcType="TIMESTAMP" property="psTime" />
    <result column="ps_status" jdbcType="INTEGER" property="psStatus" />
      <association property="staff" javaType="com.cykj.model.pojo.Staff" resultMap="com.cykj.mapper.StaffMapper.BaseResultMap" />
      <association property="project" javaType="com.cykj.model.pojo.MedicalProject" resultMap="com.cykj.mapper.MedicalProjectMapper.BaseResultMap" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ps_id, ps_order_id, ps_project_id, ps_summary, ps_staff_id, ps_time, ps_status
  </sql>

  <insert id="addOneProjectSummary" keyProperty="psId" useGeneratedKeys="true">
    insert into medical_project_summary(ps_order_id, ps_project_id) value (#{psOrderId,jdbcType=INTEGER}, #{psProjectId,jdbcType=INTEGER})
  </insert>

  <select id="findAllByOrderNumberAndDeptId" resultType="com.cykj.model.pojo.MedicalProjectSummary">
      select
      <include refid="Base_Column_List" />,
      project_name, project_price, project_dept_id
      from medical_project_summary
      join healthsystem.medical_project mp on mp.project_id = medical_project_summary.ps_project_id
      join healthsystem.orders o on medical_project_summary.ps_order_id = o.order_id
      where order_number = #{orderNumber,jdbcType=VARCHAR}
      and project_dept_id = #{deptId, jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <update id="updateByPsId">
        update medical_project_summary
        <set>
            <if test="updated.psSummary != null">
                ps_summary = #{updated.psSummary,jdbcType=LONGVARCHAR},
            </if>
            <if test="updated.psStaffId != null">
                ps_staff_id = #{updated.psStaffId,jdbcType=INTEGER},
            </if>
            <if test="updated.psStatus != null">
                ps_status = #{updated.psStatus,jdbcType=INTEGER},
            </if>
        </set>
        where ps_id=#{psId,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <select id="findAllOrderProjectSummaryByPsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medical_project_summary
        where ps_order_id = #{psOrderId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <select id="findOneByPsId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medical_project_summary
        where ps_id=#{psId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
  <select id="findAllByPsOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="com.cykj.mapper.MedicalProjectMapper.Base_Column_List" />,
        staff_id,staff_name
        from medical_project_summary
        left join healthsystem.staff s on s.staff_id = medical_project_summary.ps_staff_id
        join healthsystem.medical_project mp on medical_project_summary.ps_project_id = mp.project_id
        where ps_order_id=#{psOrderId,jdbcType=INTEGER}
    </select>
</mapper>