<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.MedicalCheckupSummaryMapper">
    <resultMap id="BaseResultMap" type="com.cykj.model.pojo.MedicalCheckupSummary">
        <!--@mbg.generated-->
        <!--@Table medical_checkup_summary-->
        <id column="cs_id" jdbcType="INTEGER" property="csId"/>
        <result column="cs_order_id" jdbcType="INTEGER" property="csOrderId"/>
        <result column="cs_summary" jdbcType="LONGVARCHAR" property="csSummary"/>
        <result column="cs_staff_id" jdbcType="INTEGER" property="csStaffId"/>
        <result column="cs_time" jdbcType="TIMESTAMP" property="csTime"/>
        <result column="cs_status" jdbcType="INTEGER" property="csStatus"/>
        <association property="user" javaType="com.cykj.model.pojo.User"
                     resultMap="com.cykj.mapper.UsersMapper.BaseResultMap"/>
        <association property="order" javaType="com.cykj.model.pojo.Order"
                     resultMap="com.cykj.mapper.OrdersMapper.BaseResultMap"/>
        <association property="staff" javaType="com.cykj.model.pojo.Staff"
                     resultMap="com.cykj.mapper.StaffMapper.BaseResultMap"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        cs_id,
        cs_order_id,
        cs_summary,
        cs_staff_id,
        cs_time,
        cs_status
    </sql>

    <insert id="addOneSummary">
        insert into medical_checkup_summary(cs_order_id) VALUE (#{csOrderId,jdbcType=INTEGER})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2024-08-20-->
    <update id="updateCsStatusByCsOrderId">
        update medical_checkup_summary
        set cs_status=#{updatedCsStatus,jdbcType=INTEGER}
        where cs_order_id = #{csOrderId,jdbcType=INTEGER}
    </update>

    <select id="findAllByCsStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />,
        <include refid="com.cykj.mapper.OrdersMapper.Base_Column_List" />,
        user_id, user_name, user_birthday, user_phone, user_id_card,
        staff_id, staff_name
        from medical_checkup_summary
        join healthsystem.orders o on o.order_id = medical_checkup_summary.cs_order_id
        join healthsystem.users u on u.user_id = o.order_user_id
        left join healthsystem.staff s on medical_checkup_summary.cs_staff_id = s.staff_id
        where cs_status = #{csStatus, jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-20-->
    <update id="updateByCsId">
        update medical_checkup_summary
        <set>
            <if test="updated.csSummary != null">
                cs_summary = #{updated.csSummary,jdbcType=LONGVARCHAR},
            </if>
            <if test="updated.csStaffId != null">
                cs_staff_id = #{updated.csStaffId,jdbcType=INTEGER},
            </if>
            <if test="updated.csStatus != null">
                cs_status = #{updated.csStatus,jdbcType=INTEGER},
            </if>
        </set>
        where cs_id=#{csId,jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2024-08-24-->
    <select id="findOneByOrderIdAndUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />,
        staff_id, staff_name
        from medical_checkup_summary
        join healthsystem.orders o on o.order_id = medical_checkup_summary.cs_order_id
        left join healthsystem.staff s on medical_checkup_summary.cs_staff_id = s.staff_id
        where cs_order_id = #{csOrderId, jdbcType=INTEGER}
        and order_user_id = #{orderUserId,jdbcType=INTEGER}
    </select>
</mapper>