<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.cykj.model.pojo.Menu">
        <!--@mbg.generated-->
        <!--@Table menu-->
        <id column="menu_id" jdbcType="INTEGER" property="id"/>
        <result column="menu_name" jdbcType="VARCHAR" property="name"/>
        <result column="menu_component" jdbcType="VARCHAR" property="component"/>
        <result column="menu_path" jdbcType="VARCHAR" property="path"/>
        <result column="menu_parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="menu_is_deleted" jdbcType="BOOLEAN" property="menuIsDeleted"/>
        <result column="menu_status" jdbcType="BOOLEAN" property="menuStatus"/>
        <result column="menu_sort" jdbcType="INTEGER" property="order"/>
        <result column="menu_redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="menu_title" jdbcType="VARCHAR" property="title"/>
        <result column="menu_icon" jdbcType="VARCHAR" property="icon"/>
        <result column="menu_parent_title" jdbcType="VARCHAR" property="parentTitle" />
        <association property="meta" javaType="com.cykj.model.pojo.Meta">
            <result column="menu_title" jdbcType="VARCHAR" property="title"/>
            <result column="menu_icon" jdbcType="VARCHAR" property="icon"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        menu_id,
        menu_name,
        menu_component,
        menu_path,
        menu_icon,
        menu_parent_id,
        menu_is_deleted,
        menu_status,
        menu_sort,
        menu_redirect,
        menu_title
    </sql>

    <select id="findAllByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from menu
                 join healthsystem.permission p on menu.menu_id = p.perm_menu_id
        where perm_role_id = #{roleId}
    </select>



    <!--auto generated by MybatisCodeHelper on 2024-08-21-->
    <select id="findAllByMenuIsDeleted" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where menu_is_deleted = #{menuIsDeleted,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-21-->
    <select id="findAll" resultMap="BaseResultMap">
        select
        m1.menu_id, m1.menu_name, m1.menu_component, m1.menu_path, m1.menu_icon, m1.menu_parent_id, m1.menu_is_deleted, m1.menu_status, m1.menu_sort, m1.menu_redirect, m1.menu_title,
        m2.menu_title as menu_parent_title
        from menu m1
        left join menu m2 on m2.menu_id = m1.menu_parent_id
        <where>
            <if test="name != null and name != ''">
                and menu_name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="menuIsDeleted != null">
                and menu_is_deleted = #{menuIsDeleted,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <insert id="addOneMenu">
        insert into menu(menu_name, menu_title, menu_component, menu_path, menu_parent_id)
            value(#{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER})
    </insert>

<!--auto generated by MybatisCodeHelper on 2024-08-21-->
    <update id="updateById">
        update menu
        <set>
            <if test="updated.name != null and updated.name != ''">
                menu_name = #{updated.name,jdbcType=VARCHAR},
            </if>
            <if test="updated.component != null and updated.component != ''">
                menu_component = #{updated.component,jdbcType=VARCHAR},
            </if>
            <if test="updated.path != null and updated.path != ''">
                menu_path = #{updated.path,jdbcType=VARCHAR},
            </if>
            <if test="updated.parentId != null">
                menu_parent_id = #{updated.parentId,jdbcType=INTEGER},
            </if>
            <if test="updated.menuIsDeleted != null">
                menu_is_deleted = #{updated.menuIsDeleted,jdbcType=BOOLEAN},
            </if>
            <if test="updated.order != null">
                menu_sort = #{updated.order,jdbcType=INTEGER},
            </if>
            <if test="updated.redirect != null and updated.redirect != ''">
                menu_redirect = #{updated.redirect,jdbcType=VARCHAR},
            </if>
            <if test="updated.title != null and updated.title != ''">
                menu_title = #{updated.title,jdbcType=VARCHAR},
            </if>
            <if test="updated.icon != null and updated.icon != ''">
                menu_icon = #{updated.icon,jdbcType=VARCHAR},
            </if>
        </set>
        where menu_id=#{id,jdbcType=INTEGER}
    </update>


<!--auto generated by MybatisCodeHelper on 2024-08-21-->
    <select id="findAllByParentIdAndMenuIsDeleted" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from menu
        where menu_parent_id=#{parentId,jdbcType=INTEGER} and menu_is_deleted=#{menuIsDeleted,jdbcType=BOOLEAN}
    </select>
</mapper>