<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.cykj.model.pojo.Order">
        <!--@mbg.generated-->
        <!--@Table orders-->
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="order_number" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="order_user_id" jdbcType="INTEGER" property="orderUserId"/>
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime"/>
        <result column="order_total_amount" jdbcType="DECIMAL" property="orderTotalAmount"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="month" jdbcType="VARCHAR" property="month" />
        <result column="order_count" jdbcType="VARCHAR" property="orderCount" />
        <association property="user" javaType="com.cykj.model.pojo.User" resultMap="com.cykj.mapper.UsersMapper.BaseResultMap" />
        <collection property="projectSummaries" ofType="com.cykj.model.pojo.MedicalProjectSummary"
                    resultMap="com.cykj.mapper.MedicalProjectSummaryMapper.BaseResultMap">
            <association property="project" javaType="com.cykj.model.pojo.MedicalProject"
                         resultMap="com.cykj.mapper.MedicalProjectMapper.BaseResultMap"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        order_id,
        order_number,
        order_user_id,
        order_time,
        order_total_amount,
        order_status
    </sql>

    <insert id="addOneOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into orders(order_number, order_user_id, order_total_amount, order_status)
            value (#{orderNumber,jdbcType=VARCHAR}, #{orderUserId,jdbcType=INTEGER},
                   #{orderTotalAmount,jdbcType=DECIMAL}, #{orderStatus,jdbcType=INTEGER})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2024-08-18-->
    <select id="findAllByOrderInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>,
        <include refid="com.cykj.mapper.MedicalProjectSummaryMapper.Base_Column_List" />,
        <include refid="com.cykj.mapper.MedicalProjectMapper.Base_Column_List" />,
        user_id, user_name, user_phone, user_id_card, user_gender, user_is_deleted, user_birthday,
        staff_id, staff_name
        from orders
        join healthsystem.medical_project_summary mps on orders.order_id = mps.ps_order_id
        join healthsystem.medical_project mp on mp.project_id = mps.ps_project_id
        left join healthsystem.staff s on mps.ps_staff_id = s.staff_id
        join users on order_user_id = users.user_id
        <where>
            and order_status = #{orderStatus,jdbcType=INTEGER}
            and project_dept_id = #{orderInfo.deptId,jdbcType=INTEGER}
            <if test="orderInfo.orderNumber != null and orderInfo.orderNumber != ''">
                and order_number = #{orderInfo.orderNumber,jdbcType=VARCHAR}
            </if>
            <if test="orderInfo.userPhone != null and orderInfo.userPhone != ''">
                and user_phone = #{orderInfo.userPhone,jdbcType=VARCHAR}
            </if>
            <if test="orderInfo.userIdCard != null and orderInfo.userIdCard != ''">
                and user_id_card = #{orderInfo.userIdCard,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-23-->
    <select id="findAllByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where null=#{user}
    </select>

    <select id="findAllByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List">
        </include>
        from orders
        <where>
            and order_user_id = #{userId, jdbcType=INTEGER}
            <if test="order.orderNumber != null and order.orderNumber != ''">
                and order_number = #{order.orderNumber,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-25-->
    <select id="findOneByOrderNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        where order_number=#{orderNumber,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-25-->
    <update id="updateOrderStatusByOrderNumber">
        update orders
        set order_status=#{updatedOrderStatus,jdbcType=INTEGER}
        where order_number=#{orderNumber,jdbcType=VARCHAR}
    </update>

    <select id="findAllMonthOrderTotalAmountByOrderStatus" resultMap="BaseResultMap">
        SELECT
            DATE_FORMAT(order_time, '%Y-%m') AS month,
            SUM(order_total_amount) AS order_total_amount,
            COUNT(*) AS order_count
        FROM
            orders
        WHERE order_status = #{orderStatus, jdbcType=INTEGER}
        GROUP BY
            month
        ORDER BY
            month
    </select>
</mapper>