<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.cykj.model.pojo.Staff">
    <!--@mbg.generated-->
    <!--@Table staff-->
    <id column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="staff_account" jdbcType="VARCHAR" property="staffAccount" />
    <result column="staff_password" jdbcType="VARCHAR" property="staffPassword" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_role_id" jdbcType="INTEGER" property="staffRoleId" />
    <result column="staff_dept_id" jdbcType="INTEGER" property="staffDeptId" />
    <result column="staff_is_status" jdbcType="INTEGER" property="staffIsStatus" />
    <result column="staff_is_deleted" jdbcType="INTEGER" property="staffIsDeleted" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_avatar" jdbcType="VARCHAR" property="staffAvatar" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    staff_id, staff_account, staff_password, staff_name, staff_role_id, staff_dept_id,
    staff_is_status, staff_is_deleted, staff_email, staff_avatar
  </sql>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="findOneByStaffAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from staff
    where staff_account=#{staffAccount,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-08-->
  <select id="findAllWithPage" resultMap="BaseResultMap">
    select
    staff_id, staff_account, staff_name, staff_role_id, staff_dept_id, staff_is_status, staff_is_deleted, staff_email, staff_avatar,
    role_name,
    dept_name
    from staff
    join healthsystem.role r on r.role_id = staff.staff_role_id
    join healthsystem.department d on staff.staff_dept_id = d.dept_id
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-09-->
  <select id="findOneByStaffId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from staff
    where staff_id=#{staffId,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2024-08-11-->
  <select id="findAllByStaffDeptId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from staff
        where staff_dept_id=#{staffDeptId,jdbcType=INTEGER}
    </select>

  <insert id="addOneStaff">
    insert into staff(staff_name, staff_account, staff_email, staff_password, staff_dept_id, staff_role_id)
    value (#{staffName,jdbcType=VARCHAR}, #{staffAccount,jdbcType=VARCHAR}, #{staffEmail,jdbcType=VARCHAR}, #{staffPassword,jdbcType=VARCHAR}, #{staffDeptId,jdbcType=INTEGER}, #{staffRoleId,jdbcType=INTEGER})
  </insert>

<!--auto generated by MybatisCodeHelper on 2024-08-21-->
  <update id="updateByStaffId">
    update staff
    <set>
      <if test="updated.staffName != null">
        staff_name = #{updated.staffName,jdbcType=VARCHAR},
      </if>
      <if test="updated.staffRoleId != null">
        staff_role_id = #{updated.staffRoleId,jdbcType=INTEGER},
      </if>
      <if test="updated.staffDeptId != null">
        staff_dept_id = #{updated.staffDeptId,jdbcType=INTEGER},
      </if>
      <if test="updated.staffIsStatus != null">
        staff_is_status = #{updated.staffIsStatus,jdbcType=INTEGER},
      </if>
      <if test="updated.staffIsDeleted != null">
        staff_is_deleted = #{updated.staffIsDeleted,jdbcType=INTEGER},
      </if>
      <if test="updated.staffEmail != null">
        staff_email = #{updated.staffEmail,jdbcType=VARCHAR},
      </if>
    </set>
    where staff_id=#{staffId,jdbcType=INTEGER}
  </update>
</mapper>