<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.cykj.model.pojo.User">
        <!--@mbg.generated-->
        <!--@Table users-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="user_id_card" jdbcType="VARCHAR" property="userIdCard"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_gender" jdbcType="INTEGER" property="userGender"/>
        <result column="user_birthday" jdbcType="DATE" property="userBirthday"/>
        <result column="user_balance" jdbcType="DECIMAL" property="userBalance"/>
        <result column="user_password" jdbcType="VARCHAR" property="userPassword"/>
        <result column="user_is_deleted" jdbcType="INTEGER" property="userIsDeleted"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id,
        user_phone,
        user_id_card,
        user_name,
        user_gender,
        user_birthday,
        user_balance,
        user_password,
        user_is_deleted,
        user_email,
        user_avatar
    </sql>

    <!--auto generated by MybatisCodeHelper on 2024-08-08-->
    <select id="findOneByUserPhoneOrUserIdCard" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        <where>
            <if test="userIdCard != null and userIdCard != ''">
                or user_id_card = #{userIdCard,jdbcType=VARCHAR}
            </if>
            <if test="userPhone != null and userPhone != ''">
                or user_phone = #{userPhone,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="addOneUser">
        insert into users (user_phone, user_id_card, user_name, user_password, user_email, user_gender, user_birthday)
            value (#{userPhone, jdbcType=VARCHAR}, #{userIdCard, jdbcType=VARCHAR}, #{userName, jdbcType=VARCHAR},
                   #{userPassword, jdbcType=VARCHAR}, #{userEmail, jdbcType=VARCHAR}, #{userGender,jdbcType=INTEGER}, #{userBirthday, jdbcType=DATE})
    </insert>

    <!--auto generated by MybatisCodeHelper on 2024-08-08-->
    <select id="findByAllWithPage" resultMap="BaseResultMap">
        select
        user_id, user_phone, user_id_card, user_name, user_gender, user_birthday, user_balance, user_is_deleted, user_email, user_avatar
        from users
        <where>
            <if test="userPhone != null and userPhone != ''">
                and user_phone like CONCAT('%', #{userPhone,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userIdCard != null and userIdCard != ''">
                and user_id_card like CONCAT('%', #{userIdCard,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and user_name like CONCAT('%', #{userName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userGender != null">
                and user_gender = #{userGender,jdbcType=BOOLEAN}
            </if>
        </where>
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-14-->
    <update id="updateByUserId">
        update users
        <set>
            <if test="updated.userPhone != null and updated.userPhone != ''">
                user_phone = #{updated.userPhone,jdbcType=VARCHAR},
            </if>
            <if test="updated.userName != null and updated.userName != ''">
                user_name = #{updated.userName,jdbcType=VARCHAR},
            </if>
            <if test="updated.userGender != null">
                user_gender = #{updated.userGender,jdbcType=INTEGER},
            </if>
            <if test="updated.userBirthday != null">
                user_birthday = #{updated.userBirthday,jdbcType=DATE},
            </if>
            <if test="updated.userIsDeleted != null">
                user_is_deleted = #{updated.userIsDeleted,jdbcType=INTEGER},
            </if>
            <if test="updated.userEmail != null and updated.userEmail != ''">
                user_email = #{updated.userEmail,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id=#{userId,jdbcType=INTEGER}
    </update>

    <update id="deleteUser">
        update users set user_is_deleted = 1 where user_id = #{userId, jdbcType=INTEGER}
    </update>

<!--auto generated by MybatisCodeHelper on 2024-08-16-->
    <select id="findOneByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from users
        where user_id=#{userId,jdbcType=INTEGER}
    </select>

<!--auto generated by MybatisCodeHelper on 2024-08-16-->
    <update id="updateUserBalance">
        update users
        set user_balance=#{updatedUserBalance,jdbcType=DECIMAL}
    </update>
</mapper>